body {
    --primarry_color: #03001C;
    background-color: var(--primarry_color);
}

h1 {
    --secondary_color: #594A85;
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
}

p {
    --third_colour: #5B8FB9;
    color: var(--third_colour);
    display: flex;
    justify-content: center;
}
